@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html>body {
	font-family: 'GmarketSansMedium', sans;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

header>div>ul>li {
	margin-right: 30px;
}

/*네비게이션 2차메뉴 */
header>div>ul>li>ul>li {
	padding-bottom: 30px;
}

header>div>ul>li>ul {
	background-color: white;
	display: none;
	position: absolute;
}

header>div>ul>li:hover>ul {
	display: block;
}

.heart-checkbox input {
	display: none;
}

.heart-checkbox .heart {
	position: relative;
	width: 20px;
	height: 18px;
	background: #ccc;
	display: inline-block;
	transform: rotate(-45deg);
	margin: 10px;
	cursor: pointer;
	transition: background 0.3s;
}

.heart-checkbox .heart::before, .heart-checkbox .heart::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 18px;
	background: #ccc;
	border-radius: 50%;
	transition: background 0.3s;
}

.heart-checkbox .heart::before {
	top: -10px;
	left: 0;
}

.heart-checkbox .heart::after {
	top: 0;
	left: 10px;
}

.heart-active .heart, .heart-active .heart::before,
	.heart-active .heart::after {
	background: red;
}